@model LCDE.Models.ProductoFiltroDTO

@{
    Layout = "~/Views/Shared/_layoutEcommerce.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <!-- Categorías -->
            <div class="sidebar-categories">
                <div class="mb-3">
                    Talla
                    <select id="TallaSelect" class="form-select">
                        @foreach (var talla in Model.Tallas)
                        {
                            <option value="@talla.Value" selected="@Model.Talla==@talla.Value">@talla.Text</option>
                        }
                    </select>
                </div>
                <div class="head-primary">Categorías</div>
                <ul class="main-categories">
                    @if (Model.Categorias != null)
                    {
                        @foreach (var item in Model.Categorias)
                        {
                            <li class="main-nav-list">
                                <a asp-action="BuscarPorCategorias" asp-route-CategoriaId="@item.Id">
                                    <span class="lnr lnr-arrow-right"></span>
                                    @item.Nombre
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>

            <!-- Rango de Precio -->
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Filtros</div>
                <div class="common-filter">
                    <div class="head">Rango de precio</div>
                    <div class="price-range-area">
                        <div id="price-range"></div>
                        <div class="value-wrapper d-flex">
                            <div class="price">Precio:</div>
                            <span>Q</span>
                            <div id="lower-value"></div>
                            <div class="to">a</div>
                            <span>Q</span>
                            <div id="upper-value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Barra de Búsqueda -->
            <div class="mb-4">
                <div class="input-group">
                    <input type="text" id="NombreProducto" name="NombreProducto" class="form-control" placeholder="Buscar producto..." />
                </div>
            </div>

            <!-- Lista de Productos -->
            <section id="product-list" class="lattest-product-area pb-40 category-list">
                <div class="row">
                    @if (Model.productosListarDTO != null)
                    {
                        @foreach (var item in Model.productosListarDTO)
                        {
                            <!-- Producto Individual -->
                            <div style="width: 18rem;">
                                <div style="height: 250px; width:auto">
                                    <img src="@(!string.IsNullOrEmpty(item.Image_url) ? item.Image_url : '.')"
                                         alt="@item.Nombre">
                                </div>
                                <div class="product-details">
                                    <h6>@item.Nombre - Talla: @item.talla</h6>
                                    <div class="price">
                                        <h6>Q.@item.PrecioUnidad</h6>
                                    </div>
                                    <div class="stock">
                                        <p>Existencia: @item.Existencia</p>
                                    </div>
                                    <div class="prd-bottom">
                                        <a href="#" class="social-info"
                                            onclick="openAddToCartModal(@item.Id, @item.Existencia, @item.PrecioUnidad)">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">Agregar</p>
                                        </a>
                                        <a asp-action="DetalleProducto" asp-route-productoId="@item.Id"
                                            class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">Ver</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </section>
        </div>
    </div>
</div>

<!-- Modal para ingresar la cantidad -->
<div class="modal fade" id="addToCartModal" tabindex="-1" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">Agregar al Carrito</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="modalQuantity"><b>Cantidad:</b></label>
                <input type="number" id="modalQuantity" class="form-control" min="1" />
                <input type="hidden" id="modalProductId" />
                <input type="hidden" id="modalMaxQuantity" />
                <input type="hidden" id="modalPrecioUnidad" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="confirmAddToCart()">Agregar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {


            // Inicializar el slider de jQuery UI
            $("#price-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [0, 500],
                slide: function (event, ui) {
                    $("#lower-value").text(ui.values[0]);
                    $("#upper-value").text(ui.values[1]);
                },
                change: function (event, ui) {
                    actualizarProductos();
                }
            });

            // Valores iniciales del slider
            $("#lower-value").text($("#price-range").slider("values", 0));
            $("#upper-value").text($("#price-range").slider("values", 1));

            // Filtrar productos por talla
            $('#TallaSelect').on('change', function () {
                actualizarProductos();
            });

            // Manejo de clic en la categoría
            $(".category-link").click(function (e) {
                e.preventDefault();
                var categoriaId = $(this).data("category-id");
                $("#CategoriaId").val(categoriaId);
                actualizarProductos();
            });

            // Manejo de la barra de búsqueda con retraso de 500 ms (debounce)
            let timeout = null;
            $("#NombreProducto").on('keyup', function () {
                clearTimeout(timeout);
                timeout = setTimeout(function () {
                    actualizarProductos();
                }, 500);
            });
            actualizarProductos();
        });
        // Función para actualizar productos
        function actualizarProductos() {
            var filtro = {
                Talla: $('#TallaSelect').val(),
                CategoriaId: $("#CategoriaId").val(),
                NombreProducto: $("#NombreProducto").val(),
                PrecioMin: $("#price-range").slider("values", 0),
                PrecioMax: $("#price-range").slider("values", 1)
            };
            $.ajax({
                type: "POST",
                url: '@Html.Raw(Url.Action("BuscarPorCategorias", "EcommerceProducto"))',
                data: filtro,

                success: function (response) {
                    // Limpiar la lista de productos actual
                    $("#product-list .row").empty();

                    // Agregar los productos nuevos
                    response.forEach(function (producto) {
                        var detalleUrl = '@Url.Action("DetalleProducto", "EcommerceProducto", new { productoId = "__ID__" })';
                        detalleUrl = detalleUrl.replace("__ID__", producto.id);

                        var productHtml = `
                                                                        <div class="col-lg-4 col-md-6">
                                                                            <div class="single-product">
                                                                                        <img style="height: 300px; width:100%; object-fit: cover;"  src="${producto.image_url}" alt="">
                                                                                <div class="product-details">
                                                                                    <h6>${producto.nombre}</h6>
                                                                                    <div class="price">
                                                                                        <h6>Q.${producto.precioUnidad}</h6>
                                                                                    </div>
                                                                                    <div class="prd-bottom">
                                                                                        <a href="#" class="social-info"
                                                                                           onclick="openAddToCartModal(${producto.id}, ${producto.existencia}, ${producto.precioUnidad})">
                                                                                            <span class="ti-bag"></span>
                                                                                            <p class="hover-text">Agregar</p>
                                                                                        </a>
                                                                                        <a href="${detalleUrl}" class="social-info">
                                                                                            <span class="lnr lnr-move"></span>
                                                                                            <p class="hover-text">Ver</p>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>`;

                        $("#product-list .row").append(productHtml);
                    });
                },

                error: function () {
                    alert("Hubo un error al filtrar los productos.");
                }
            });
        }

        // Modal para agregar al carrito
        function openAddToCartModal(productId, maxQuantity, precioUnidad) {
            $('#modalProductId').val(productId);
            $('#modalMaxQuantity').val(maxQuantity);
            $('#modalQuantity').attr('max', maxQuantity);
            $('#modalQuantity').val(1);
            $('#modalPrecioUnidad').val(precioUnidad);
            $('#addToCartModal').modal('show');
        }

        // Confirmar agregar al carrito con validaciones mejoradas
        function confirmAddToCart() {
            var productId = $('#modalProductId').val().toString(); // Convertir el ID a cadena
            var quantity = parseInt($('#modalQuantity').val(), 10);
            var maxQuantity = parseInt($('#modalMaxQuantity').val(), 10);
            var precioUnidad = parseFloat($('#modalPrecioUnidad').val());

            // Validar cantidad
            if (isNaN(quantity) || quantity <= 0) {
                showToast('error', 'Cantidad no válida.');
                return;
            }

            // Validar el precio
            if (isNaN(precioUnidad) || precioUnidad <= 0) {
                showToast('error', 'El precio del producto no es válido.');
                return;
            }

            let cart = JSON.parse(localStorage.getItem('shoppingCart')) || [];
            let productIndex = cart.findIndex(item => item.idProducto.toString() === productId); // Convertir el ID del carrito a cadena
            let existingQuantity = productIndex !== -1 ? parseInt(cart[productIndex].quantity, 10) : 0;

            // Validar cantidad máxima
            if (quantity + existingQuantity > maxQuantity) {
                showToast('error', `Ya tienes ${existingQuantity} en el carrito. La existencia total del producto es ${maxQuantity}.`);
                return;
            }

            // Agregar al carrito y cerrar modal
            addToCart(productId, quantity, maxQuantity, precioUnidad);
            $('#addToCartModal').modal('hide');
        }

        // Mostrar mensaje de error o éxito
        function showToast(type, message) {
            if (type === 'error') {
                // Lógica para mostrar toast de error
                alert("Error: " + message);
            } else {
                // Lógica para mostrar toast de éxito u otro tipo
                alert("Éxito: " + message);
            }
        }

    </script>

    <!-- Campos ocultos para los filtros -->
    <input type="hidden" id="CategoriaId" name="CategoriaId" value="@Model.CategoriaId" />
    <input type="hidden" id="PrecioMin" name="PrecioMin" value="@Model.PrecioMin" />
    <input type="hidden" id="PrecioMax" name="PrecioMax" value="@Model.PrecioMax" />
}
