@model ProductoListarDTO
@{
    Layout = "~/Views/Shared/_layoutEcommerce.cshtml";
}
<link rel="stylesheet" href="~/css/detprod.css">

<div class="container">
    <div class="row s_product_inner">
        <div class="col-lg-6">
            <div class="s_Product_carousel">
                <div class="single-prd-item my-4">
                    <img class="img-fluid" src="@Model.Image_url" width="500px"> <!--Falta la ruta de la imagen-->
                </div>
            </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
                <h3>@Model.Nombre </h3>
                <h6>@Model.Detalle</h6>
                <h2>@Model.PrecioUnidad</h2>
                <ul class="list">
                    <li><a class="active" href="#"><strong><span>Categoria</span> : </strong>@Model.NombreCategoria</a></li>
                    <li><a class="active" href="#"><strong><span>Disponibilidad</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp : </strong>@Model.Existencia</a></li>
                </ul>
                <p>
                    <!--Falta la descripcion del producto-->
                </p>
                <div class="product_count">
                    <label for="qty"><b>Cantidad:</b></label>
                    <input type="number" name="qty" id="sst" min="1" max="@Model.Existencia" title="Quantity:" class="input-text qty">
                </div>
                <div class="card_area d-flex align-items-center">
                    <button class="primary-btn" onclick="addToCart(@Model.Id, document.getElementById('sst').value, @Model.Existencia)">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>