@model List<CarritoItemDTO>
<div class="container cart_area">
    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="@item.ImageUrl" alt="product-img" style="width: 100px; height: 100px;">
                                    </div>
                                    <div class="media-body">
                                        <p>@item.NombreProducto</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>
                                    @("Q" + item.PrecioUnidad.ToString("N2"))
                                </h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="number" name="qty" class="update-quantity" data-product-id="@item.IdProducto" data-max-quantity="@item.Existencia" min="1" max="@item.Existencia" value="@item.Cantidad" title="Cantidad:" class="input-text qty">
                                </div>
                            </td>
                            <td>
                                <h5>
                                    @("Q" + (item.Cantidad * item.PrecioUnidad).ToString("N2"))
                                </h5>
                            </td>
                            <td>
                                <button class="btn btn-danger remove-item" data-product-id="@item.IdProducto">Eliminar</button>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5>@("Q" + Model.Sum(item => item.Cantidad * item.PrecioUnidad).ToString("N2"))</h5>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="out_button_area">
                        <div class="checkout_btn_inner d-flex align-items-center">
                            <a class="gray_btn" href="/">Continuar comprando</a>
                            <a class="primary-btn" href="#">Proceder al pago</a>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>